<mat-tab-group>
  <mat-tab label="Минимальная">
    <ng-template matTabContent>
      <app-simple-table></app-simple-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="С иконками">
    <ng-template matTabContent>
      <app-table-with-icons></app-table-with-icons>
    </ng-template>
  </mat-tab>
  <mat-tab label="Сложный объект. Поиск">
    <ng-template matTabContent>
      <app-complex-object></app-complex-object>
    </ng-template>
  </mat-tab>

  <mat-tab label="С действиями">
    <ng-template matTabContent>
      <app-table-with-actions></app-table-with-actions>
      <h3>Действия в начале</h3>
      <app-actions-before></app-actions-before>
    </ng-template>
  </mat-tab>

  <mat-tab label="С пагинацией">
    <ng-template matTabContent>
      <app-table-with-pagination></app-table-with-pagination>
    </ng-template>
  </mat-tab>

  <mat-tab label="С чекбоксами">
    <ng-template matTabContent>
      <app-table-with-selection></app-table-with-selection>
    </ng-template>
  </mat-tab>

  <mat-tab label="Расширенные чекбоксы">
    <ng-template matTabContent>
      <app-table-with-pagination-and-checkboxes></app-table-with-pagination-and-checkboxes>
    </ng-template>
  </mat-tab>

  <mat-tab label="С индексом">
    <ng-template matTabContent>
      <app-table-with-index></app-table-with-index>
    </ng-template>
  </mat-tab>

  <mat-tab label="С сортировкой">
    <ng-template matTabContent>
      <app-table-with-sort></app-table-with-sort>
    </ng-template>
  </mat-tab>

  <mat-tab label="Sticky">
    <ng-template matTabContent>
      <app-table-with-sticky-header></app-table-with-sticky-header>
    </ng-template>
  </mat-tab>


  <mat-tab label="Редактируемая">
    <ng-template matTabContent>
      <app-table-editable></app-table-editable>
    </ng-template>
  </mat-tab>

  <mat-tab label="Highlight">
    <ng-template matTabContent>
      <app-table-highlight-clicked-row></app-table-highlight-clicked-row>
    </ng-template>
  </mat-tab>

  <mat-tab label="Wrapped icons">
    <ng-template matTabContent>
      <app-table-with-wrapped-icon></app-table-with-wrapped-icon>
    </ng-template>
  </mat-tab>

  <mat-tab label="Большая таблица">
    <ng-template matTabContent>
      <app-table-big></app-table-big>
    </ng-template>
  </mat-tab>


  <mat-tab label="Custom header">
    <ng-template matTabContent>
      <app-table-custom-header></app-table-custom-header>
    </ng-template>
  </mat-tab>

  <mat-tab label="Итого">
    <ng-template matTabContent>
      <app-table-with-total></app-table-with-total>
    </ng-template>
  </mat-tab>

  <mat-tab label="FilterActions">
    <ng-template matTabContent>
      <app-table-with-filter-actions></app-table-with-filter-actions>
    </ng-template>
  </mat-tab>

  <mat-tab label="CustomColumns">
    <ng-template matTabContent>
      <app-table-with-custom-columns></app-table-with-custom-columns>
    </ng-template>
  </mat-tab>

  <mat-tab label="ExpandedRow">
    <ng-template matTabContent>
      <app-expanding-row></app-expanding-row>
    </ng-template>
  </mat-tab>

  <mat-tab label="SubFooter">
    <ng-template matTabContent>
      <app-table-with-sub-footer></app-table-with-sub-footer>
    </ng-template>
  </mat-tab>

  <mat-tab label="Кнопка настройки">
    <ng-template matTabContent>
      <app-table-with-settings-button></app-table-with-settings-button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
